<!DOCTYPE html>
<html>

<head>
  <title>RoastMyCode</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
  <div class="card">
    <h1 class="cartoonish">Roast My Code</h1>
    <form action="{{ url_for('index') }}" method="POST">
      <div class="output">
        {% if output %}
        <ul>
          {% for out in output %}
          {% if out != '' %}
          <li>{{ out }}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      

      <!-- {{ output | safe}} -->

      {% else %}
      <textarea name="text" placeholder="Paste your code here to get roasted :)"></textarea>
      {% endif %}

      {% if output %}
      <a href="{{ url_for('index') }}">
        <button id="button">Go Back</button>
      </a>
      {% else %}
      <button id="button" type="submit">Submit</button>
      {% endif %}

    </form>
  </div>

</body>

</html>